<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
      {%- include 'style.css' without context %}
    </style>
    {% block header %}{%  endblock %}
</head>
<body>
<header class="mx_Header">
    <img src="https://beeper.github.io/static/brand/email-header.20240320.2056.png" width="256" height="56" alt="[Beeper]"/>
</header>

{% block body %}{% endblock %}

</body>
</html>
