<html>
<body>
    <p>A password reset request has been received for your Beeper account. If this was you, please click the link below to confirm resetting your password:</p>

    <a href="{{ link }}">{{ link }}</a>

    <p>If this was not you, <strong>do not</strong> click the link above and instead contact the Beeper Support team. Thank you.</p>
</body>
</html>
